In [14]:
# ファイル編集テスト
import pandas as pd
import numpy as np

In [15]:
torakan_base_data = pd.read_csv('data/train.csv')
len(torakan_base_data)

5800080

In [16]:
# 前処理に時間がかかるから、まずは50000データのみで前処理手順を確立させる
# スライスだとcopy()をつけないと警告が出まくるのでつけている。
torakan_data = torakan_base_data[:50000].copy()
torakan_data.tail()

,datetime,start_code,end_code,KP,OCC,allCars,speed,is_congestion
49995,2022-01-26 03:00:00,1800006,1110210,3.9,1.916667,438,70.829157,0
49996,2022-01-26 04:00:00,1800006,1110210,3.9,2.166667,572,72.670157,0
49997,2022-01-26 05:00:00,1800006,1110210,3.9,5.833333,1905,75.196747,0
49998,2022-01-26 06:00:00,1800006,1110210,3.9,7.416667,2706,73.708903,0
49999,2022-01-26 07:00:00,1800006,1110210,3.9,7.250000,2646,73.690593,0

In [17]:
torakan_data.dtypes

datetime          object
start_code         int64
end_code           int64
KP               float64
OCC              float64
allCars            int64
speed            float64
is_congestion      int64
dtype: object

In [18]:
# is_congestionとspeedが実質同じものであることの確認
tmp = torakan_data[torakan_data['speed'] < 40.0]
print(len(tmp))
tmp['is_congestion'].sum()

324

324

In [19]:
Y = torakan_data[['is_congestion', 'speed']]
torakan_data.drop(columns=['is_congestion', 'speed'])
Y.head()

   is_congestion      speed
0              0  94.208661
1              0  94.469663
2              0  92.593407
3              0  94.501160
4              0  94.079840

In [20]:
# 日付データは日時と時間で分ける
tmp  = pd.to_datetime(torakan_data['datetime']).dt.year
torakan_data['date'] = tmp
tmp = pd.to_datetime(torakan_data['datetime']).dt.time
torakan_data['time'] = tmp
torakan_data.drop(columns=['datetime'], inplace=True)
torakan_data.head()

,start_code,end_code,KP,OCC,allCars,speed,is_congestion,date,time
0,1110210,1800006,2.48,1.833333,507,94.208661,0,2021,00:00:00
1,1110210,1800006,2.48,1.750000,444,94.469663,0,2021,01:00:00
2,1110210,1800006,2.48,1.500000,363,92.593407,0,2021,02:00:00
3,1110210,1800006,2.48,1.583333,430,94.501160,0,2021,03:00:00
4,1110210,1800006,2.48,1.750000,500,94.079840,0,2021,04:00:00

In [ ]:
# road_localのデータをマージ